.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
*.gmo
*.pc
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
install-sh
libtool
ltmain.sh
missing
shave-libtool
stamp-h1
cscope.*
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/emerald
themer/emerald-theme-manager


